annotated-types==0.6.0
ansicon==1.89.0
blessed==1.20.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
editor==1.6.3
idna==3.6
inquirer==3.2.0
jinxed==1.2.1
markdown-it-py==3.0.0
mdurl==0.1.2
prompt-toolkit==3.0.36
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
PyInquirer==1.0.3
python-on-whales==0.68.0
questionary==2.0.1
readchar==4.0.5
regex==2023.12.25
requests==2.31.0
rich==13.7.0
runs==1.2.0
setuptools==69.0.3
shellingham==1.5.4
six==1.16.0
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.9.0
urllib3==2.1.0
wcwidth==0.2.12
xmod==1.8.1
